extends ../layouts/common
block content
  div(style="width: 700px; margin-left: 100px")
    div  
      img(src=getAvatarUrl(user.avatar), class="mx-auto", width="200")
      a(href="/users/" + id + "/profile/avatar") Change your avatar
    form(class="d-flex-column" action="/users/" + id + "/profile", method="POST")
      div(class="input-group-prepend")
        span(class="input-group-text" id="inputGroup-sizing-default") Name
        input(type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name" value=user.name)
      div(class="input-group-prepend")
        span(class="input-group-text" id="inputGroup-sizing-default") Phone
        input(type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="phone" value=user.phone)
      div(class="input-group-prepend")
        span(class="input-group-text" id="inputGroup-sizing-default") Email
        input(type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="email" value=user.email)

      button(class="btn btn-primary ml-2") UPDATE
